.container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40%;
    max-width: 600px;
    pointer-events: none;
  }
  
  .text {
    font-size: 1.5vw;
    color: white;
    text-transform: uppercase;
    font-family: 'Monorama', sans-serif;
    margin: 0;
    padding: 10px;
    text-align: left;
    word-wrap: break-word;
    line-height: 1.5;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  
  .glitchText {
    --stacks: 3;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: glitch 4s ease infinite 2s alternate-reverse;
    display: inline-block;
  }
  
  .even {
    --glitch-translate: -2px;
  }
  
  .odd {
    --glitch-translate: 2px;
  }
  
  .blinkingCursor {
    animation: blink 1s steps(1) infinite;
  }
  
  .staticCursor {
    opacity: 1;
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -1px 1px 0 rgba(255, 0, 0, 0.3), 1px -1px 0 rgba(0, 0, 255, 0.3);
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 1px -1px 0 rgba(255, 0, 0, 0.3), -1px 1px 0 rgba(0, 0, 255, 0.3);
    }
    4%, 100% { text-shadow: none; transform: none; }
  }
  
  @keyframes blink {
    50% { opacity: 0; }
  }